*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}



body {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	width: 100%;
}
header {
    width: 100%;
    background-color: #007765;
    height: 84px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 21;
}
.header_wrapper {
    width: 100%;
    max-width: 1219px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 55px;
    padding-right: 55px;
}
.header_wrapper_logo{
    display: flex;
    justify-content: space-between;
}
.logo {
	display: flex;
    align-items: center;
	padding-top: 20px;
    padding-bottom: 19px;
}
.header_wrapper_nav {
    display: flex;
    align-items: center;
    font-size: 24px;
	color: #FFFFFF;
}
.header_wrapper_item{
  color: #FFFFFF;		
}
.header_wrapper_item:active{
  text-decoration: none;
  color: #FFFFFF;
} 
.header_wrapper_delimiter{
	margin-left: 8px;
    margin-right: 8px;
}
.section_piperNet {
	background: url("img/image_1.png");
    margin-top: 84px;
    padding-top: 160px;
    padding-bottom: 160px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.section_piperNet_is_here {

}
.section_piperNet_is_here p {
	font-size: 72px;
    line-height: 84px;
    text-align: center;
    color: #FFFFFF;
}

.section_problem_wrapper {
	background: #EEEEEE;
}
.section_problem_wrapper h2 {
	font-size: 64px;
	line-height: 75px;
	text-align: center;
	color: #007765;
	padding-top: 48px;
}

.section_problem_article {
	max-width: 1219px;
    padding-left: 55px;
    padding-right: 55px;
    display: block;
    margin: 0 auto;
    padding-top: 0;
}
.section_problem_article_text{
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	line-height: 37px;
	color: #000000;
	padding: 16px 0 76px 0;
}
.section_problem_article_text p {
	padding-bottom: 17px;
}

.section_tagline {
	background: url("img/image_2.jpg");
 	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    justify-content: center;
}
.section_tagline_text {
	padding-left: 55px;
    padding-top: 128px;
    padding-bottom: 129px;
    padding-right: 55px;
    max-width: 1219px;
}
.section_tagline_text p {
	font-style: italic;
	font-size: 48px;
	line-height: 56px;
	text-align: center;
	color: #FFFFFF;
}
.section_I_P_P_Coin_wrapper {
		background: ##FFFFFF;
}
.section_I_P_P_Coin_wrapper h2 {
	font-weight: 500;
	font-size: 64px;
	line-height: 75px;
	text-align: center;
	color: #007765;
	padding-top: 48px;
    padding-bottom: 16px;

}
.section_I_P_P_Coin_wrapper_article {
    padding-left: 55px;
    padding-right: 55px;
    max-width: 1219px;
    margin: 0 auto;
}

.section_I_P_P_Coin_wrapper_article p {
	padding-bottom: 30px;
}
.section_I_P_P_Coin_wrapper_article_text{
	padding-bottom: 62px;
}

.section_I_P_P_Coin_wrapper_article_logo {
	display: flex;
    align-items: center;
    padding-bottom: 40px;
}
.section_I_P_P_Coin_wrapper_article_logo p {
	font-size: 32px;
    line-height: 37px;
    padding-left: 48px;
}

.section_I_P_P_Coin_wrapper_article p{
	font-size: 32px;
	line-height: 37px;
}
.section_the_team_wrapper {
	background: #EEEEEE;
}

.section_the_team_wrapper h2{
	font-size: 64px;
	line-height: 75px;
	text-align: center;
	color: #007765;
	padding-top: 58px;
	padding-bottom: 30px;
}

.section_the_team_wrapper_members {
	max-width: 1219px;
    display: block;
    margin: 0 auto;
    padding-bottom: 110px;
}

.row_1_team_members {
	display: flex;
    justify-content: space-around;
    padding-bottom: 82px;
}
.row_2_team_members {
	display: flex;
    justify-content: space-around;
}

.team_members_name_worker{

	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	color: #007765;
	padding-top: 12px;
}
.team_members_employee_position{

	font-style: italic;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
}
.section_the_team_wrapper_members figure {

    flex-direction: column;
    text-align: center;
}
footer {
	background: #333333;
}
.footer_copyrights_text {
	    max-width: 548px;
    display: block;
    margin: 0 auto;
}
.footer_copyrights_text p{
	padding-top: 50px;
	padding-bottom: 62px;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	color: #FFFFFF;
	padding-left: 20px;
	padding-right: 20px;
}
 section:target {
    padding-top: 75px;
    margin-top: -75px;
  }


/*Медиа запросы для адаптива*/

 @media (max-width: 740px) {
  header {
  	height: 140px;
  }
  .header_wrapper_logo {
  	flex-direction: column;
  	align-items: center;
  }
  .section_piperNet {
  	margin-top: 130px;
  }
  .section_problem_article_text {
  	text-align: center;
  }

  .section_I_P_P_Coin_wrapper_article {
	text-align: center;
  }
  .section_I_P_P_Coin_wrapper_article_logo {
  	padding-bottom: 30px;
  }
  .section_I_P_P_Coin_wrapper_article_logo figure {
  	display: none;
  }
  .section_I_P_P_Coin_wrapper_article_logo p {
  	padding: 0;
  }
   section:target {
    padding-top: 110px;
    margin-top: -110px;
  }
}

@media (max-width: 610px) {
	.row_1_team_members {
	flex-direction: column;
	}
	.row_2_team_members {
	flex-direction: column;
	}
	.section_the_team_wrapper_members {
		padding-bottom: 0;
	}
	.section_the_team_wrapper_members figure {
		padding-bottom: 30px;
	}
	.row_1_team_members {
		padding-bottom: 0;
	}
}

  @media (max-width: 520px) {
  	.logo{
  		/*display: none;*/
  	}
  .header_wrapper_logo {
  	flex-direction: column;
  	align-items: center;
  }
  .header_wrapper_nav {
  	font-size: 23px;
}

 @media (max-width: 505px) {
 	  header {
  	height: 155px;
  }

  	header_wrapper {
  	padding-left: 25px;
    padding-right: 25px;
  }
  .header_wrapper_logo {
  	flex-direction: column;
  	align-items: center;
  }
  .header_wrapper_nav {
  	font-size: 23px;
  }
  .header_wrapper_item {
  	text-align: center;
    display: flex;
  }
  .section_I_P_P_Coin_wrapper h2 {
  	font-size: 55px;
  }
}
 @media (max-width: 434px) {
 	body{
 		display: flex;
 	}
  	header_wrapper {
  	adding-left: 25px;
    padding-right: 25px;
  }
}